<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="text-center text-5xl text-gray-800 py-16">HOME</h1>

    <p class="text-center text-gray-800 text-3xl font-semibold">Welcome to my application</p>
    
    <div class="text-center w-full my-16">
      
      <a href="/task" class="font-semibold bg-green-500 text-xl text-white hover:bg-green-700 px-8 py-4 text-center rounded-md 
      mx-auto">Get started</a>
    
    </div>
</body>
</html>